openapi: 3.1.0
info:
  title: Uptrace JSON API
  version: "1.0.0"
  description: |
    REST API for managing Uptrace resources including monitors and dashboards.
    This API allows you to create, update, retrieve, and delete monitors and dashboards programmatically.
  contact:
    name: Uptrace
    url: https://uptrace.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.uptrace.dev
    description: Public API server
security:
  - bearerAuth: []
  - authTokenQuery: []

paths:
  /api/v1/tracing/{project_id}/spans:
    get:
      summary: List spans
      operationId: listSpans
      description: Retrieve a list of spans.
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: trace_id
          in: query
          description: Filter spans by trace ID.
          schema:
            type: string
        - name: id
          in: query
          description: Filter spans by span ID.
          schema:
            type: integer
        - name: parent_id
          in: query
          description: Filter spans by parent span ID.
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of spans.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/tracing/{project_id}/groups:
    get:
      summary: List groups
      operationId: listSpanGroups
      description: Aggregate spans using UQL.
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: Aggregate spans using the specified query.
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - name: search
          in: query
          description: Search for spans containing option1 or option2.
          schema:
            type: string
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (microseconds).
          schema:
            type: integer
            format: int64
        - name: duration_lt
          in: query
          description: Duration less than N (microseconds).
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Aggregated spans.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/projects/{project_id}/monitors:
    get:
      summary: List monitors
      operationId: listMonitors
      description: Retrieve all monitors for a project.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of monitors.
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitors
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Monitor"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create a monitor
      operationId: createMonitor
      description: Create a metric or error monitor.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MetricMonitorRequest"
                - $ref: "#/components/schemas/ErrorMonitorRequest"
      responses:
        "200":
          description: Monitor created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /internal/v1/projects/{project_id}/monitors/{monitor_id}:
    get:
      summary: Get a monitor
      operationId: getMonitor
      description: Retrieve a specific monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update a monitor
      operationId: updateMonitor
      description: Update a metric or error monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MetricMonitorRequest"
                - $ref: "#/components/schemas/ErrorMonitorRequest"
      responses:
        "200":
          description: Monitor updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete a monitor
      operationId: deleteMonitor
      description: Delete a metric or error monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards:
    get:
      summary: List dashboards
      operationId: listDashboards
      description: Retrieve all dashboards for a project.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of dashboards.
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboards
                properties:
                  dashboards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dashboard"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/yaml:
    post:
      summary: Create dashboard from YAML
      operationId: createDashboardFromYAML
      description: Create a new dashboard from YAML definition.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition.
      responses:
        "200":
          description: Dashboard created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}:
    get:
      summary: Get a dashboard
      operationId: getDashboard
      description: Retrieve a specific dashboard by ID with grid rows and items.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: "#/components/schemas/Dashboard"
                  tableItems:
                    type: array
                    items:
                      $ref: "#/components/schemas/GridItem"
                  gridRows:
                    type: array
                    items:
                      $ref: "#/components/schemas/GridRow"
                  gridMetrics:
                    type: array
                    items:
                      type: string
                  yamlUrl:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete a dashboard
      operationId: deleteDashboard
      description: Delete a dashboard by ID.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/yaml:
    get:
      summary: Get dashboard YAML
      operationId: getDashboardYAML
      description: Retrieve the YAML representation of a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard YAML.
          content:
            text/yaml:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update dashboard from YAML
      operationId: updateDashboardFromYAML
      description: Update an existing dashboard from YAML definition.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition.
      responses:
        "200":
          description: Dashboard updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/clone:
    post:
      summary: Clone a dashboard
      operationId: cloneDashboard
      description: Create a copy of an existing dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard cloned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/reset:
    put:
      summary: Reset a dashboard
      operationId: resetDashboard
      description: Reset dashboard to template or reset layout.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard reset.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/pinned:
    put:
      summary: Pin a dashboard
      operationId: pinDashboard
      description: Pin dashboard to top of dashboard list.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard pinned.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/unpinned:
    put:
      summary: Unpin a dashboard
      operationId: unpinDashboard
      description: Unpin dashboard from top of dashboard list.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard unpinned.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/table:
    put:
      summary: Update dashboard table
      operationId: updateDashboardTable
      description: Update the table configuration of a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardTableUpdate"
      responses:
        "200":
          description: Dashboard table updated.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/grid:
    put:
      summary: Update dashboard grid query
      operationId: updateDashboardGrid
      description: Update the global grid query filter for a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gridQuery:
                  type: string
      responses:
        "200":
          description: Dashboard grid query updated.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create grid item
      operationId: createGridItem
      description: Create a new grid item in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridItemRequest"
      responses:
        "200":
          description: Grid item created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/grid/{grid_item_id}:
    put:
      summary: Update grid item
      operationId: updateGridItem
      description: Update an existing grid item.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/GridItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridItemRequest"
      responses:
        "200":
          description: Grid item updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete grid item
      operationId: deleteGridItem
      description: Delete a grid item from the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/GridItemId"
      responses:
        "200":
          description: Grid item deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/rows:
    post:
      summary: Create grid row
      operationId: createGridRow
      description: Create a new grid row in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridRowRequest"
      responses:
        "200":
          description: Grid row created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridRowResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/rows/{row_id}:
    put:
      summary: Update grid row
      operationId: updateGridRow
      description: Update an existing grid row.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/RowId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridRow"
      responses:
        "200":
          description: Grid row updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridRowResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete grid row
      operationId: deleteGridRow
      description: Delete a grid row and all its items.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/RowId"
      responses:
        "200":
          description: Grid row deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/rows/{row_id}/up:
    put:
      summary: Move grid row up
      operationId: moveGridRowUp
      description: Move a grid row up in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/RowId"
      responses:
        "200":
          description: Grid row moved up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridRowResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/metrics/{project_id}/dashboards/{dashboard_id}/rows/{row_id}/down:
    put:
      summary: Move grid row down
      operationId: moveGridRowDown
      description: Move a grid row down in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/RowId"
      responses:
        "200":
          description: Grid row moved down.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridRowResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/projects/{project_id}/notification-channels:
    get:
      summary: List notification channels
      operationId: listNotificationChannels
      description: Retrieve all notification channels for a project.
      tags: [NotificationChannels]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of notification channels.
          content:
            application/json:
              schema:
                type: object
                required:
                  - channels
                properties:
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/NotificationChannel"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create notification channel
      operationId: createNotificationChannel
      description: Create a new notification channel.
      tags: [NotificationChannels]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationChannelRequest"
      responses:
        "200":
          description: Notification channel created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/projects/{project_id}/notification-channels/{channel_id}:
    get:
      summary: Get notification channel
      operationId: getNotificationChannel
      description: Retrieve a specific notification channel by ID.
      tags: [NotificationChannels]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/ChannelId"
      responses:
        "200":
          description: Notification channel details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update notification channel
      operationId: updateNotificationChannel
      description: Update an existing notification channel.
      tags: [NotificationChannels]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/ChannelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationChannelRequest"
      responses:
        "200":
          description: Notification channel updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete notification channel
      operationId: deleteNotificationChannel
      description: Delete an existing notification channel.
      tags: [NotificationChannels]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/ChannelId"
      responses:
        "200":
          description: Notification channel deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    authTokenQuery:
      type: apiKey
      in: query
      name: auth_token
    uptraceDSNHeader:
      type: apiKey
      in: header
      name: uptrace-dsn
    dsnQuery:
      type: apiKey
      in: query
      name: dsn

  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: Uptrace project ID.
      schema:
        type: integer
        format: int64
    MonitorId:
      name: monitor_id
      in: path
      required: true
      description: Monitor ID.
      schema:
        type: integer
        format: int64
    TimeStart:
      name: time_start
      in: query
      required: true
      description: Start time as unix milliseconds or RFC3339 timestamp.
      schema:
        oneOf:
          - type: number
            description: Unix time in milliseconds.
          - type: string
            format: date-time
            description: RFC3339 timestamp.
    TimeEnd:
      name: time_end
      in: query
      required: true
      description: End time as unix milliseconds or RFC3339 timestamp.
      schema:
        oneOf:
          - type: number
            description: Unix time in milliseconds.
          - type: string
            format: date-time
            description: RFC3339 timestamp.
    Limit:
      name: limit
      in: query
      required: false
      description: Limit number of results.
      schema:
        type: integer
        format: int32
    DashboardId:
      name: dashboard_id
      in: path
      required: true
      description: Dashboard ID.
      schema:
        type: integer
        format: int64
    ChannelId:
      name: channel_id
      in: path
      required: true
      description: Notification channel ID.
      schema:
        type: integer
        format: int64
    GridItemId:
      name: grid_item_id
      in: path
      required: true
      description: Grid item ID.
      schema:
        type: integer
        format: int64
    RowId:
      name: row_id
      in: path
      required: true
      description: Grid row ID.
      schema:
        type: integer
        format: int64

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required: [code, message]

    MonitorResponse:
      type: object
      properties:
        monitor:
          $ref: "#/components/schemas/Monitor"
      required:
        - monitor
    BaseMonitorRequest:
      type: object
      properties:
        name:
          type: string
        notifyEveryoneByEmail:
          type: boolean
        teamIds:
          type: array
          items:
            type: integer
        channelIds:
          type: array
          items:
            type: integer
        repeatInterval:
          type: object
          additionalProperties: true
      required:
        - name
    MetricMonitorRequest:
      allOf:
        - $ref: "#/components/schemas/BaseMonitorRequest"
        - type: object
          properties:
            type:
              type: string
              enum:
                - metric
            params:
              $ref: "#/components/schemas/MetricMonitorParams"
          required:
            - type
            - params
    ErrorMonitorRequest:
      allOf:
        - $ref: "#/components/schemas/BaseMonitorRequest"
        - type: object
          properties:
            type:
              type: string
              enum:
                - error
            params:
              $ref: "#/components/schemas/ErrorMonitorParams"
          required:
            - type
            - params
    MetricMonitorParams:
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/MonitorMetric"
        query:
          type: string
        column:
          type: string
        minAllowedValue:
          type: number
        maxAllowedValue:
          type: number
        groupingInterval:
          type: number
          description: Grouping interval in milliseconds.
        checkNumPoint:
          type: integer
        nullsMode:
          type: string
          enum:
            - allow
            - forbid
            - convert
        timeOffset:
          type: number
          description: Time offset in milliseconds.
      required:
        - metrics
        - query
        - column
    ErrorMonitorParams:
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/MonitorMetric"
        query:
          type: string
      required:
        - metrics
        - query
    MonitorMetric:
      type: object
      properties:
        name:
          type: string
        alias:
          type: string
      required:
        - name

    Monitor:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum: [metric, error]
        state:
          type: string
          enum: [open, firing, paused]
        notifyEveryoneByEmail:
          type: boolean
        teamIds:
          type: array
          items:
            type: integer
        channelIds:
          type: array
          items:
            type: integer
        repeatInterval:
          type: object
          additionalProperties: true
        params:
          type: object
          additionalProperties: true
        createdAt:
          type: number
        updatedAt:
          type: number
      required:
        - id
        - name
        - type
        - state

    Dashboard:
      type: object
      properties:
        id:
          type: integer
          format: int64
        projectId:
          type: integer
          format: int64
        templateId:
          type: string
        name:
          type: string
        pinned:
          type: boolean
        minInterval:
          type: number
        timeOffset:
          type: number
        gridQuery:
          type: string
        gridMaxWidth:
          type: integer
        tableMetrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricAlias"
        tableQuery:
          type: string
        tableGrouping:
          type: array
          items:
            type: string
        tableColumnMap:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/TableColumn"
        createdAt:
          type: number
        updatedAt:
          type: number
      required:
        - id
        - projectId
        - name

    DashboardResponse:
      type: object
      properties:
        dashboard:
          $ref: "#/components/schemas/Dashboard"
      required:
        - dashboard

    DashboardTableUpdate:
      type: object
      properties:
        name:
          type: string
        tableMetrics:
          type: array
          items:
            $ref: "#/components/schemas/MetricAlias"
        tableQuery:
          type: string
        tableColumnMap:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/TableColumn"

    MetricAlias:
      type: object
      properties:
        name:
          type: string
        alias:
          type: string
      required:
        - name
        - alias

    TableColumn:
      type: object
      properties:
        unit:
          type: string
        color:
          type: string
        aggFunc:
          type: string
          enum: [min, max, sum, avg, avg_zero, median, last]
        sparklineDisabled:
          type: boolean

    GridRow:
      type: object
      properties:
        id:
          type: integer
          format: int64
        dashId:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        expanded:
          type: boolean
        index:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/GridItem"
        createdAt:
          type: number
        updatedAt:
          type: number
      required:
        - id
        - dashId
        - title
        - index

    GridRowRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        expanded:
          type: boolean
      required:
        - title

    GridRowResponse:
      type: object
      properties:
        gridRow:
          $ref: "#/components/schemas/GridRow"
      required:
        - gridRow

    GridItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        dashId:
          type: integer
          format: int64
        dashKind:
          type: string
          enum: [grid, table]
        rowId:
          type: integer
          format: int64
        width:
          type: integer
        height:
          type: integer
        xAxis:
          type: integer
        yAxis:
          type: integer
        type:
          type: string
          enum: [chart, table, heatmap, gauge]
        params:
          type: object
          additionalProperties: true
        createdAt:
          type: number
        updatedAt:
          type: number
      required:
        - id
        - title
        - dashId
        - dashKind
        - type

    GridItemRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        dashKind:
          type: string
          enum: [grid, table]
        rowId:
          type: integer
          format: int64
        width:
          type: integer
        height:
          type: integer
        xAxis:
          type: integer
        yAxis:
          type: integer
        type:
          type: string
          enum: [chart, table, heatmap, gauge]
        params:
          type: object
          additionalProperties: true
      required:
        - title
        - dashKind
        - rowId
        - type

    GridItemResponse:
      type: object
      properties:
        gridItem:
          $ref: "#/components/schemas/GridItem"
      required:
        - gridItem

    NotificationChannel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        projectId:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum: [slack, webhook, telegram, mattermost]
        status:
          type: string
        condition:
          type: string
        priority:
          type: array
          items:
            type: string
            enum: [Info, Low, Medium, High]
        params:
          type: object
          additionalProperties: true
        monitorIds:
          type: array
          items:
            type: integer
            format: int64
        monitorCount:
          type: integer
      required:
        - id
        - projectId
        - name
        - type
        - status
        - params

    NotificationChannelRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [slack, webhook, telegram, mattermost]
        condition:
          type: string
        priority:
          type: array
          items:
            type: string
            enum: [Info, Low, Medium, High]
        params:
          type: object
          additionalProperties: true
      required:
        - name
        - type
        - params

    NotificationChannelResponse:
      type: object
      properties:
        channel:
          $ref: "#/components/schemas/NotificationChannel"
      required:
        - channel

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
