openapi: 3.1.0
info:
  title: Uptrace JSON API
  version: "1.0.0"
  description: |
    REST API for managing Uptrace resources including monitors and dashboards.
    This API allows you to create, update, retrieve, and delete monitors and dashboards programmatically.

    ## Authentication

    To use the API, you need a project ID (`<project_id>`) and a user authentication token (`<user_token>`).

    You can create an authentication token on your user profile page. The token has the same permissions as the user account, allowing access to the same resources.

    ### SSO

    User auth tokens do not work with Single Sign-On (SSO) because SSO requires Uptrace to redirect users to the SSO provider, which is not viable for the JSON API.

    If your organization uses SSO, you need to create a separate user account and statically grant it access to projects without relying on SSO authentication.

    ## Usage Limits

    Uptrace Cloud provides this API free of charge for occasional use to read small fractions of ingested data. For example, a few requests per hour to read data from the last few hours is acceptable.

    If you need higher usage limits, please contact [support](mailto:support@uptrace.dev) to discuss your use case.
  contact:
    name: Uptrace
    url: https://uptrace.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.uptrace.dev
    description: Public API server
security:
  - bearerAuth: []
  - authTokenQuery: []

paths:
  /api/v1/annotations:
    post:
      summary: Create annotation
      operationId: create_annotation
      description: Create a chart annotation.
      tags: [Annotations]
      security:
        - uptraceDSNHeader: []
        - dsnQuery: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnotationCreateRequest"
            example:
              name: Deployed to production
              fingerprint: v1.2.3
              attrs:
                service.version: v1.2.3
      responses:
        "200":
          description: Annotation created.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/tracing/{project_id}/spans:
    get:
      summary: List spans
      x-badges:
        - name: global
      operationId: public_list_spans
      description: >-
        List spans (public API). Stable API for listing spans by trace_id, span_id, or parent_id.
        Best for retrieving known spans when you already have an ID.
        For advanced filtering with UQL queries (WHERE, search, system filtering),
        use list_spans instead.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: trace_id
          in: query
          description: Filter spans by trace ID.
          schema:
            type: string
          example: 17706d68ea23cf9bc8976ca57d22ee31
        - name: id
          in: query
          description: Filter spans by span ID.
          schema:
            type: integer
          example: 12345
        - name: parent_id
          in: query
          description: Filter spans by parent span ID.
          schema:
            type: integer
          example: 12345
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of spans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spans:
                    type: array
                    description: Array of span objects.
                    items:
                      $ref: "#/components/schemas/Span"
                  hasMore:
                    type: boolean
                    description: Whether more results exist beyond the limit.
                required: [spans]
              example:
                spans:
                  - id: "acb4d95e58413013"
                    traceId: "17706d68ea23cf9bc8976ca57d22ee31"
                    parentId: ""
                    name: GET /api/v1/orders
                    kind: server
                    time: 1688947201000.0
                    duration: 1.2
                    statusCode: ok
                hasMore: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/tracing/{project_id}/groups:
    get:
      summary: List groups
      x-badges:
        - name: global
      operationId: public_list_span_groups
      description: >-
        List span groups (public API). Stable API for listing aggregated span groups.
        Supports basic search and duration filtering.
        For advanced aggregation with UQL queries (GROUP BY, HAVING, aggregate functions),
        use list_span_groups instead.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: Aggregate spans using the specified query.
          schema:
            type: string
          example: group by host_name
        - $ref: "#/components/parameters/Limit"
        - name: search
          in: query
          description: Search for spans containing option1 or option2.
          schema:
            type: string
          example: option1|option2
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 1000
        - name: duration_lt
          in: query
          description: Duration less than N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 5000
      responses:
        "200":
          description: Aggregated spans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    description: Array of group rows with dynamic columns based on the query.
                    items:
                      type: object
                      additionalProperties: true
                  hasMore:
                    type: boolean
                    description: Whether more results exist beyond the limit.
                required: [groups]
              example:
                groups:
                  - host_name: host-1
                    count: 1240
                    errorCount: 12
                    p50: 850
                    p95: 2400
                hasMore: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/spans/{project_id}:
    get:
      summary: List spans
      operationId: list_spans
      description: >-
        List individual spans using UQL (Uptrace Query Language).
        Use this to inspect specific span details, search for errors, or browse recent operations.
        Supports WHERE filters (e.g. where service_name = 'myservice', where _status_code = 'error',
        where _dur_ms > 100ms), full-text search (e.g. word1|word2 -excluded),
        system filtering (e.g. httpserver:all, db:postgresql, log:error),
        duration filtering in milliseconds, and sorting by any span field.
        Span fields use underscore prefix: _name, _dur_ms, _status_code, _time, _trace_id, _kind.
        Attributes use dot-to-underscore: service.name becomes service_name.
        Returns individual span objects with attrs, timing, and status.
        Use list_span_groups instead when you need aggregated metrics (count, avg, p99).
        Use list_traces instead when you need to find traces matching multi-span criteria.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL query to filter spans (e.g., where service_name = 'myservice').
          schema:
            type: string
          example: "where service_name = 'myservice'"
        - name: where
          in: query
          description: Additional WHERE clause appended to the query.
          schema:
            type: string
          example: "service_name = 'myservice'"
        - name: search
          in: query
          description: Full-text search for spans containing the given text.
          schema:
            type: string
          example: "GET /api"
        - name: search_attrs
          in: query
          description: Attribute names to search within when using search. Can be repeated for multiple attributes.
          schema:
            type: array
            items:
              type: string
          example: ["display_name"]
        - name: system
          in: query
          description: Filter by system (e.g., log:error, db:postgresql). Can be repeated for multiple systems.
          schema:
            type: array
            items:
              type: string
          example: ["log:error"]
        - name: sort_by
          in: query
          description: Column names to sort by. Can be repeated for multi-column sort. Defaults to time.
          schema:
            type: array
            items:
              type: string
          example: ["_time"]
        - name: sort_dir
          in: query
          description: Sort direction for each sort_by column. Must match sort_by count. Defaults to DESC.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SortDirection'
          example: ["DESC"]
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 1000
        - name: duration_lt
          in: query
          description: Duration less than N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 5000
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of matching spans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spans:
                    type: array
                    description: Array of span objects.
                    items:
                      $ref: "#/components/schemas/Span"
                  count:
                    type: integer
                    format: int64
                    description: Total count of matching spans.
                  query:
                    type: array
                    description: Parsed query parts with error state.
                    items:
                      type: object
                      additionalProperties: true
                  sorting:
                    type: array
                    description: Applied sorting configuration.
                    items:
                      $ref: '#/components/schemas/OrderItem'
                  search:
                    type: array
                    description: Applied search matchers.
                    items:
                      type: object
                      additionalProperties: true
                  whereAttrs:
                    type: object
                    description: Map of WHERE attribute names to their matched values.
                    additionalProperties: true
                required: [spans, count]
              example:
                spans:
                  - id: "acb4d95e58413013"
                    traceId: "07f3834da9d146dd4d6aea67fe5b1e95"
                    parentId: "6a1445d6b82b6c5d"
                    name: GET /api/v1/orders
                    kind: server
                    time: 1770985573458.9
                    duration: 1.2
                    statusCode: ok
                count: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/spans/{project_id}/groups:
    get:
      summary: List groups
      operationId: list_span_groups
      description: >-
        Aggregate spans into groups using UQL queries.
        Use this to get aggregated metrics like request count, error rate, or latency percentiles.
        Aggregate functions: count(), avg(), sum(), min(), max(),
        p50(), p75(), p90(), p99(), uniq(), apdex().
        Supports GROUP BY (e.g. group by service_name), HAVING (e.g. having p50(_dur_ms) > 100ms),
        WHERE filters, full-text search, system filtering (e.g. httpserver:all, db:postgresql),
        and duration filtering. Example query: 'perMin(count()) | group by host_name'.
        Returns grouped rows with dynamic columns based on the query.
        Use list_spans instead when you need individual span details.
        Use timeseries instead when you need time-bucketed data for charts.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL aggregation query (e.g., perMin(count()) | group by host_name).
          schema:
            type: string
          example: "perMin(count()) | group by host_name"
        - name: where
          in: query
          description: Additional WHERE clause appended to the query.
          schema:
            type: string
          example: "service_name = 'myservice'"
        - name: search
          in: query
          description: Full-text search for spans containing the given text.
          schema:
            type: string
          example: "GET /api"
        - name: search_attrs
          in: query
          description: Attribute names to search within when using search. Can be repeated for multiple attributes.
          schema:
            type: array
            items:
              type: string
          example: ["display_name"]
        - name: system
          in: query
          description: Filter by system (e.g., log:error, db:postgresql). Can be repeated for multiple systems.
          schema:
            type: array
            items:
              type: string
          example: ["spans:all"]
        - name: sort_by
          in: query
          description: Column names to sort by. Can be repeated for multi-column sort.
          schema:
            type: array
            items:
              type: string
          example: ["count"]
        - name: sort_dir
          in: query
          description: Sort direction for each sort_by column. Must match sort_by count. Defaults to DESC.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SortDirection'
          example: ["DESC"]
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 1000
        - name: duration_lt
          in: query
          description: Duration less than N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 5000
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Aggregated span groups.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsResult"
              example:
                groups:
                  - host_name: host-1
                    count: 1240
                    errorCount: 12
                    p50: 850
                    p95: 2400
                columns:
                  - name: count
                    isNum: true
                hasMore: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/spans/{project_id}/timeseries:
    get:
      summary: Timeseries
      operationId: query_timeseries
      description: >-
        Query time-bucketed aggregation data for spans.
        Use this to analyze trends over time, detect anomalies, or build charts.
        Returns aligned timestamps with auto-computed interval based on the time range.
        Use UQL aggregation query (e.g. perMin(count()) | group by service_name)
        with aggregate functions: count(), avg(), sum(), p50(), p90(), p99(), etc.
        Use column parameter to select specific aggregate columns for the timeseries.
        Supports WHERE filters, full-text search, system filtering, and duration filtering.
        Returns groups with arrays of float values aligned with the time array.
        Use list_span_groups instead when you need a single aggregated snapshot (not time-bucketed).
        Use quantiles instead when you only need latency percentiles (p50/p90/p99).
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL aggregation query (e.g., perMin(count()) | group by service_name).
          schema:
            type: string
          example: "perMin(count()) | group by service_name"
        - name: where
          in: query
          description: Additional WHERE clause appended to the query.
          schema:
            type: string
          example: "service_name = 'myservice'"
        - name: search
          in: query
          description: Full-text search for spans containing the given text.
          schema:
            type: string
          example: "GET /api"
        - name: search_attrs
          in: query
          description: Attribute names to search within when using search. Can be repeated for multiple attributes.
          schema:
            type: array
            items:
              type: string
          example: ["display_name"]
        - name: system
          in: query
          description: Filter by system (e.g., log:error, db:postgresql). Can be repeated for multiple systems.
          schema:
            type: array
            items:
              type: string
          example: ["spans:all"]
        - name: column
          in: query
          description: Aggregate column names to include in the timeseries. Can be repeated for multiple columns.
          schema:
            type: array
            items:
              type: string
          example: ["count"]
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 10000
        - name: duration_lt
          in: query
          description: Duration less than N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 100000
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Timeseries data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    description: Array of group rows. Aggregated columns contain arrays of float values aligned with the time array.
                    items:
                      type: object
                      additionalProperties: true
                  columns:
                    type: array
                    description: Column definitions for the result.
                    items:
                      $ref: "#/components/schemas/QueryColumn"
                  time:
                    type: array
                    description: Array of aligned timestamps as unix milliseconds.
                    items:
                      type: number
                      format: double
                  interval:
                    type: integer
                    format: int64
                    description: Time interval between data points in milliseconds.
                  query:
                    type: array
                    description: Parsed query parts with error state.
                    items:
                      type: object
                      additionalProperties: true
                  sorting:
                    type: array
                    description: Applied sorting configuration.
                    items:
                      $ref: '#/components/schemas/OrderItem'
                  whereAttrs:
                    type: object
                    description: Map of WHERE attribute names to their matched values.
                    additionalProperties: true
                required: [groups, time, interval]
              example:
                groups:
                  - service_name: myservice
                    "perMin(count())": [10.5, 20.3, 15.1, 30.7]
                time: [1688947200000, 1688947260000, 1688947320000, 1688947380000]
                interval: 60000
                columns:
                  - expr: "perMin(count())"
                    name: "perMin(count())"
                    isAgg: true
                    isNum: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/spans/{project_id}/quantiles:
    get:
      summary: Quantiles
      operationId: query_quantiles
      description: >-
        Query duration percentiles (p50, p90, p99) and count/error rate over time.
        Use this to identify latency outliers, track performance degradation, or compare SLO compliance.
        Returns named timeseries: count, countPerMin, errorCount, errorCountPerMin,
        durationP50, durationP90, durationP99, durationMax.
        Supports WHERE filters (e.g. where service_name = 'myservice'),
        full-text search, system filtering (e.g. httpserver:all), and duration filtering.
        Use timeseries instead when you need custom aggregation queries with GROUP BY.
        Use list_span_groups instead when you need a single aggregated snapshot.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL query to filter spans (e.g., where service_name = 'myservice').
          schema:
            type: string
          example: "where service_name = 'myservice'"
        - name: where
          in: query
          description: Additional WHERE clause appended to the query.
          schema:
            type: string
          example: "service_name = 'myservice'"
        - name: search
          in: query
          description: Full-text search for spans containing the given text.
          schema:
            type: string
          example: "GET /api"
        - name: search_attrs
          in: query
          description: Attribute names to search within when using search. Can be repeated for multiple attributes.
          schema:
            type: array
            items:
              type: string
          example: ["display_name"]
        - name: system
          in: query
          description: Filter by system (e.g., log:error, db:postgresql). Can be repeated for multiple systems.
          schema:
            type: array
            items:
              type: string
          example: ["spans:all"]
        - name: duration_gte
          in: query
          description: Duration greater than or equal to N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 10000
        - name: duration_lt
          in: query
          description: Duration less than N (milliseconds).
          schema:
            type: integer
            format: int64
          example: 100000
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Quantile timeseries data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeseries:
                    type: array
                    description: >-
                      Array of named timeseries. Names include: count, countPerMin, errorCount, errorCountPerMin,
                      durationP50, durationP90, durationP99, durationMax.
                    items:
                      $ref: "#/components/schemas/Timeseries"
                required: [timeseries]
              example:
                timeseries:
                  - name: durationP50
                    value: [1.2, 1.3, 1.1]
                    time: [1688947200000, 1688947260000, 1688947320000]
                  - name: countPerMin
                    value: [100, 120, 90]
                    time: [1688947200000, 1688947260000, 1688947320000]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/traces/{project_id}/groups:
    get:
      summary: List trace groups
      operationId: list_trace_groups
      description: >-
        Aggregate traces into groups using correlated sub-queries.
        Use this to find trace patterns and get aggregated trace metrics.
        Requires parallel arrays: query[], alias[], system[] with matching lengths.
        One alias must be 'root' to identify the root span query.
        Additional sub-queries filter traces where child spans match specific criteria.
        Systems: spans:all, httpserver:all, db:postgresql, log:error, etc.
        Returns grouped rows with dynamic columns.
        Use list_traces instead when you need individual trace details.
        Use list_span_groups instead when you don't need cross-span trace correlation.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL query for each sub-query. Must have the same count as alias and system. Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["where service_name = 'myservice'"]
        - name: alias
          in: query
          description: Alias for each sub-query. One alias must be 'root'. Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["root"]
        - name: system
          in: query
          description: System for each sub-query (e.g., spans:all, log:error). Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["spans:all"]
        - name: sort_by
          in: query
          description: Column names to sort by. Can be repeated for multi-column sort.
          schema:
            type: array
            items:
              type: string
          example: ["count"]
        - name: sort_dir
          in: query
          description: Sort direction for each sort_by column. Must match sort_by count. Defaults to DESC.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SortDirection'
          example: ["DESC"]
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Trace groups result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsResult"
              example:
                groups:
                  - _group_id: "100"
                    count: 42
                    errorCount: 2
                columns:
                  - name: count
                    isNum: true
                hasMore: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/traces/{project_id}:
    get:
      summary: List traces
      operationId: list_traces
      description: >-
        List individual traces using correlated sub-queries.
        Use this to find specific traces matching complex multi-span criteria.
        Requires parallel arrays: query[], alias[], system[] with matching lengths.
        One alias must be 'root' to identify the root span query.
        Additional sub-queries filter traces where child spans match specific criteria.
        Systems: spans:all, httpserver:all, db:postgresql, log:error, etc.
        Returns root spans for matching traces sorted by time (DESC by default).
        Use list_trace_groups instead when you need aggregated trace metrics.
        Use list_spans instead when you don't need cross-span trace correlation.
        Documentation: https://uptrace.dev/features/querying/spans
      tags: [Querying]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: query
          in: query
          description: UQL query for each sub-query. Must have the same count as alias and system. Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["where service_name = 'myservice'"]
        - name: alias
          in: query
          description: Alias for each sub-query. One alias must be 'root'. Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["root"]
        - name: system
          in: query
          description: System for each sub-query (e.g., spans:all, log:error). Can be repeated.
          schema:
            type: array
            items:
              type: string
          example: ["spans:all"]
        - name: sort_by
          in: query
          description: Column names to sort by. Can be repeated for multi-column sort. Defaults to time.
          schema:
            type: array
            items:
              type: string
          example: ["_time"]
        - name: sort_dir
          in: query
          description: Sort direction for each sort_by column. Must match sort_by count. Defaults to DESC.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SortDirection'
          example: ["DESC"]
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of matching traces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spans:
                    type: array
                    description: Root spans for matching traces.
                    items:
                      $ref: "#/components/schemas/Span"
                  count:
                    type: integer
                    format: int64
                    description: Total count of matching traces.
                  query:
                    type: array
                    description: Parsed query parts with error state.
                    items:
                      type: object
                      additionalProperties: true
                  join:
                    type: array
                    description: >-
                      Parsed sub-query clauses for each non-root joined alias. One entry
                      per non-root sub-query passed in query[]/alias[]/system[].
                    items:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                  sorting:
                    type: array
                    description: Applied sorting configuration.
                    items:
                      $ref: '#/components/schemas/OrderItem'
                  search:
                    type: array
                    description: Applied search matchers.
                    items:
                      type: object
                      additionalProperties: true
                  whereAttrs:
                    type: object
                    description: Map of WHERE attribute names to their matched values.
                    additionalProperties: true
                required: [spans, count]
              example:
                spans:
                  - id: "298ec3d46392d4b7"
                    traceId: "103ba7cd7900cdf2b04e842e15ad9702"
                    name: GET /api/v1/orders
                    displayName: GET /api/v1/orders
                    time: 1770985602526.471
                    duration: 1.634
                    statusCode: ok
                count: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/fixtures:
    put:
      summary: Sync fixtures
      operationId: sync_fixtures
      description:
        Create, update, or delete users, orgs, projects, and related resources
        using fixture keys.
      tags: [Fixtures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SeedDataRequest"
            example:
              users:
                - key: admin_user
                  name: System Administrator
                  email: admin@company.com
                  password: change_me_immediately
              orgs:
                - key: main_org
                  name: Acme Corporation
              orgUsers:
                - key: admin_membership
                  orgKey: main_org
                  userKey: admin_user
                  role: owner
              projects:
                - key: web_app_project
                  name: Web Application
                  orgKey: main_org
      responses:
        "200":
          description: Fixtures applied successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/fixtures/bindings:
    put:
      summary: Bind existing resources to fixture keys
      operationId: bind_fixture_keys
      description: Assign fixture keys to existing resources created outside of fixtures.
      tags: [Fixtures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkDataRequest"
            example:
              orgs:
                - id: 123
                  key: legacy_org
              projects:
                - id: 456
                  key: existing_project
      responses:
        "200":
          description: Bindings applied successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/monitors/{project_id}:
    get:
      summary: List monitors
      x-badges:
        - name: beta
      operationId: list_monitors
      description: >-
        List monitoring rules and alerts configured in Uptrace.
        Use this to review alert configurations, check notification channels,
        and understand monitoring thresholds.
        Returns monitors with their type, state, query, and notification settings.
        Use list_dashboards instead when looking for visualization dashboards.
        Documentation: https://uptrace.dev/features/alerting
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: search
          in: query
          required: false
          description: Free-text search applied to monitor names and attributes.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter monitors by status (e.g. active, paused, failing).
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          description: Column to sort by.
          schema:
            type: string
        - name: sort_dir
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SortDirection"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of monitors.
          content:
            application/json:
              schema:
                type: object
                required:
                  - monitors
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Monitor"
                  statuses:
                    type: array
                    description: Per-status monitor counts across the project (ignores the status filter).
                    items:
                      $ref: "#/components/schemas/MonitorStatusCount"
                  count:
                    type: integer
                    format: int64
                    description: Total number of monitors matching the current filter.
                  search:
                    type: array
                    description: Parsed search matchers applied to the request.
                    items:
                      type: object
                      additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create a monitor
      x-badges:
        - name: beta
      operationId: create_monitor
      description: Create a metric or error monitor.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MetricMonitorRequest"
                - $ref: "#/components/schemas/ErrorMonitorRequest"
            examples:
              metricMonitor:
                summary: Metric monitor
                value:
                  name: Number of spans per minute
                  type: metric
                  notifyEveryoneByEmail: true
                  teamIds: [123]
                  channelIds: [123]
                  repeatInterval:
                    strategy: default
                  params:
                    metrics:
                      - name: uptrace_tracing_spans
                        alias: $spans
                    query:
                      "perMin(count($spans)) as spans | where service_name =
                      'myservice'"
                    column:
                      name: spans
                    detector:
                      type: manual
                      params:
                        minValue: 100
                        maxValue: 1000
              errorMonitor:
                summary: Error monitor
                value:
                  name: Number of spans per minute
                  type: error
                  notifyEveryoneByEmail: true
                  teamIds: [123]
                  channelIds: [123]
                  repeatInterval:
                    strategy: default
                  params:
                    metrics:
                      - name: uptrace_tracing_logs
                        alias: $logs
                    query: "group by _group_id | where _system in ('log:error', 'log:fatal')"
      responses:
        "200":
          description: Monitor created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
              example:
                monitor:
                  id: 3807
                  name: Number of spans per minute
                  type: metric
                  status: active
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /internal/v1/monitors/{project_id}/{monitor_id}:
    get:
      summary: Get a monitor
      x-badges:
        - name: beta
      operationId: get_monitor
      description: Retrieve a specific monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update a monitor
      x-badges:
        - name: beta
      operationId: update_monitor
      description: Update a metric or error monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MetricMonitorRequest"
                - $ref: "#/components/schemas/ErrorMonitorRequest"
            examples:
              metricMonitor:
                summary: Metric monitor
                value:
                  name: Number of spans per minute
                  type: metric
                  notifyEveryoneByEmail: true
                  teamIds: [123]
                  channelIds: [123]
                  repeatInterval:
                    strategy: default
                  params:
                    metrics:
                      - name: uptrace_tracing_spans
                        alias: $spans
                    query:
                      "perMin(count($spans)) as spans | where service_name =
                      'myservice'"
                    column:
                      name: spans
                    detector:
                      type: manual
                      params:
                        minValue: 100
                        maxValue: 1000
              errorMonitor:
                summary: Error monitor
                value:
                  name: Number of spans per minute
                  type: error
                  notifyEveryoneByEmail: true
                  teamIds: [123]
                  channelIds: [123]
                  repeatInterval:
                    strategy: default
                  params:
                    metrics:
                      - name: uptrace_tracing_logs
                        alias: $logs
                    query: "group by _group_id | where _system in ('log:error', 'log:fatal')"
      responses:
        "200":
          description: Monitor updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
              example:
                monitor:
                  id: 3807
                  name: Number of spans per minute
                  type: metric
                  status: active
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete a monitor
      x-badges:
        - name: beta
      operationId: delete_monitor
      description: Delete a metric or error monitor by ID.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor deleted. Returns the deleted monitor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/monitors/{project_id}/{monitor_id}/active:
    put:
      summary: Activate a monitor
      x-badges:
        - name: beta
      operationId: activate_monitor
      description: Resume a monitor and set its status to active.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor activated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/monitors/{project_id}/{monitor_id}/paused:
    put:
      summary: Pause a monitor
      x-badges:
        - name: beta
      operationId: pause_monitor
      description: >-
        Pause a monitor.
        When `duration` is provided, the monitor automatically resumes after that period;
        otherwise it stays paused until activated explicitly.
      tags: [Monitors]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/MonitorId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: integer
                  format: int64
                  minimum: 3600000000000
                  description: >-
                    Pause duration in nanoseconds.
                    Minimum 1 hour (3600000000000 ns).
                    Omit for an indefinite pause.
            examples:
              indefinite:
                summary: Pause indefinitely
                value: {}
              forTwoHours:
                summary: Pause for 2 hours
                value:
                  duration: 7200000000000
      responses:
        "200":
          description: Monitor paused.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}:
    get:
      summary: List dashboards
      x-badges:
        - name: beta
      operationId: list_dashboards
      description: >-
        List dashboards configured in Uptrace.
        Use this to browse available dashboards for monitoring and visualization.
        Returns dashboard summaries with ID, name, and tags.
        Use get_dashboard with a specific ID to retrieve full dashboard details including grid rows and items.
        Use create_dashboard to create a new dashboard from YAML.
        Documentation: https://uptrace.dev/features/dashboards
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: q
          in: query
          required: false
          description: Free-text search applied to dashboard name and indexed columns.
          schema:
            type: string
        - name: pinned
          in: query
          required: false
          description: When true, return only pinned dashboards.
          schema:
            type: boolean
        - name: tag
          in: query
          required: false
          description: Filter by dashboard tag. Repeat to match any of multiple tags.
          schema:
            type: array
            items:
              type: string
        - name: sort_by
          in: query
          required: false
          description: Column to sort by (e.g. name, updatedAt). Defaults to updatedAt.
          schema:
            type: string
        - name: sort_dir
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SortDirection"
      responses:
        "200":
          description: List of dashboards.
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboards
                properties:
                  dashboards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dashboard"
                  noData:
                    type: boolean
                    description: True when no dashboards exist for the project at all (independent of the current filter).
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/tags:
    get:
      summary: List dashboard tags
      x-badges:
        - name: beta
      operationId: list_dashboard_tags
      description: >-
        List all available dashboard tags for a project.
        Tags are simple string labels used for categorizing and filtering dashboards.
        Use these tags when creating new dashboards to ensure consistent categorization.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of available tags.
          content:
            application/json:
              schema:
                type: object
                required:
                  - tags
                properties:
                  tags:
                    type: array
                    items:
                      type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboard-templates/schema:
    get:
      summary: Get dashboard template JSON Schema
      operationId: get_dashboard_template_schema
      description: >-
        Get the JSON Schema for validating dashboard template YAML files.
        Returns the schema as application/schema+json.
      tags: [Dashboards]
      responses:
        "200":
          description: Dashboard template JSON Schema.
          content:
            application/schema+json:
              schema:
                type: object

  /internal/v1/dashboard-templates/{project_id}:
    get:
      summary: List dashboard templates
      operationId: list_dashboard_templates
      description: >-
        List all available built-in dashboard templates.
        Returns template ID, name, and description for each template.
        Use this to discover available templates before creating dashboards.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: q
          in: query
          required: false
          description: Free-text search applied to template name and description.
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Filter by template tag. Repeat to match any of multiple tags.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          required: false
          description: Filter by template status.
          schema:
            $ref: "#/components/schemas/TemplateStatus"
      responses:
        "200":
          description: Dashboard templates list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDashboardTemplatesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /internal/v1/dashboard-templates/{project_id}/{template_id}:
    get:
      summary: Get dashboard template
      operationId: get_dashboard_template
      description: >-
        Get a specific dashboard template by ID.
        Returns the template ID, name, description, and tags.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: template_id
          in: path
          required: true
          description: Dashboard template ID.
          schema:
            type: string
      responses:
        "200":
          description: Dashboard template.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDashboardTemplateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /internal/v1/metrics/{project_id}/explore:
    get:
      summary: Explore metrics
      operationId: explore_metrics
      description: >-
        Discover available metrics and their metadata.
        Returns metric names, instrument types (histogram, counter, gauge, additive),
        units, descriptions, available attributes, and library info.
        Use the instrument type to choose the correct aggregate function:
        histogram metrics support count(), p50(), p90(), p99();
        counter metrics support sum(), perMin(sum());
        gauge metrics support sum(), avg(), max(), min();
        additive metrics support sum(), perMin(sum()).
        Use the search parameter to filter by metric name.
        Use this tool before creating dashboards to discover metrics and their attributes.
      tags: [Metrics]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: search
          in: query
          required: false
          description: Search string to filter metrics by name (substring match).
          schema:
            type: string
        - name: instrument
          in: query
          required: false
          description: >-
            Filter by instrument type. Can be repeated to pass multiple values
            (e.g. instrument=counter&instrument=gauge). Allowed values:
            histogram, counter, gauge, additive.
          schema:
            type: array
            items:
              type: string
          example: ["counter"]
        - name: library_name
          in: query
          required: false
          description: >-
            Filter by instrumentation library name (exact match). Can be repeated;
            results match any of the listed libraries.
          schema:
            type: array
            items:
              type: string
          example: ["go.opentelemetry.io/contrib/instrumentation/runtime"]
        - name: attr_key_exists
          in: query
          required: false
          description: >-
            Return only metrics that expose all of the listed attribute keys (AND
            semantics). Uptrace normalizes attribute keys by replacing dots with
            underscores (service.name → service_name), so pass the underscored form.
          schema:
            type: array
            items:
              type: string
          example: ["host_name"]
      responses:
        "200":
          description: Metrics list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExploreMetricsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /internal/v1/metrics/{project_id}/attributes:
    get:
      summary: List metric attributes
      operationId: list_metric_attributes
      description: >-
        List available attribute keys for metrics.
        Returns attribute keys with their kind (str, int, float), unit, and count (how many metrics use each attribute).
        Use the search parameter to filter by metric name.
        Use this to discover which attributes are available for group by in dashboard queries.
      tags: [Metrics]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: search
          in: query
          required: false
          description: Search string to filter metrics by name.
          schema:
            type: string
      responses:
        "200":
          description: Attribute keys list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMetricAttributesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /internal/v1/metrics/{project_id}/attributes/{attr_key}:
    get:
      summary: List attribute values
      operationId: list_metric_attribute_values
      description: >-
        List values for a specific metric attribute key.
        Returns distinct attribute values with their occurrence count.
        Use the search parameter to filter by metric name.
      tags: [Metrics]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TimeStart"
        - $ref: "#/components/parameters/TimeEnd"
        - name: attr_key
          in: path
          required: true
          description: "Attribute key including type suffix (e.g. host_name::str, http_status_code::int)."
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Search string to filter metrics by name.
          schema:
            type: string
      responses:
        "200":
          description: Attribute values list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMetricAttributeValuesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /internal/v1/dashboards/{project_id}/yaml:
    post:
      summary: Create dashboard from YAML
      x-badges:
        - name: beta
      operationId: create_dashboard_from_yaml
      description: >-
        Create a new dashboard from YAML definition.
        Use this to create visualization dashboards for spans, events, logs, and metrics.
        Supports grid-based and table-based layouts with PromQL-style metric queries.
        The YAML body must include: schema (v2 or v3) and name. Optional fields: version, tags.
        Use get_dashboard_yaml on an existing dashboard to see the exact YAML format before creating.
        The API strictly rejects unknown fields.
        Table and table_grid_items overrides use column (required, must match a query alias) + properties (array of {name, value}).
        Grid item overrides (in grid_rows) use matchers + properties (array of {name, value}).
        Sparkline is a table column property ({name: sparkline, value: true}), not a top-level field.
        Documentation: https://uptrace.dev/features/dashboards
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition.
      responses:
        "200":
          description: Dashboard created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}:
    get:
      summary: Get a dashboard
      x-badges:
        - name: beta
      operationId: get_dashboard
      description: >-
        Get a dashboard by ID from Uptrace.
        Use this to retrieve full dashboard details including grid rows, items, and metric queries.
        Requires a dashboard_id -- use list_dashboards first to find available dashboard IDs.
        Documentation: https://uptrace.dev/features/dashboards
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - dashboard
                properties:
                  dashboard:
                    $ref: "#/components/schemas/Dashboard"
                  tableItems:
                    type: array
                    items:
                      $ref: "#/components/schemas/GridItem"
                  gridRows:
                    type: array
                    items:
                      $ref: "#/components/schemas/GridSection"
                  gridMetrics:
                    type: array
                    items:
                      type: string
                  yamlUrl:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete a dashboard
      x-badges:
        - name: beta
      operationId: delete_dashboard
      description: Delete a dashboard by ID.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard deleted. Returns the deleted dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/yaml:
    get:
      summary: Get dashboard YAML
      x-badges:
        - name: beta
      operationId: get_dashboard_yaml
      description: Retrieve the YAML representation of a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard YAML.
          content:
            text/yaml:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update dashboard from YAML
      x-badges:
        - name: beta
      operationId: update_dashboard_from_yaml
      description: >-
        Update an existing dashboard from YAML definition.
        Use get_dashboard_yaml first to retrieve the current YAML, then modify and submit.
        The API strictly rejects unknown fields.
        Table overrides use column + properties (array of {name, value}).
        Grid item overrides use matchers + properties (array of {name, value}).
        Documentation: https://uptrace.dev/features/dashboards
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          text/yaml:
            schema:
              type: string
              description: YAML dashboard definition.
      responses:
        "200":
          description: Dashboard updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/clone:
    post:
      summary: Clone a dashboard
      x-badges:
        - name: beta
      operationId: clone_dashboard
      description: Create a copy of an existing dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard cloned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/reset-layout:
    put:
      summary: Reset a dashboard
      x-badges:
        - name: beta
      operationId: reset_dashboard
      description: Reset dashboard to template or reset layout.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard reset.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/pinned:
    put:
      summary: Pin a dashboard
      x-badges:
        - name: beta
      operationId: pin_dashboard
      description: Pin dashboard to top of dashboard list.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard pinned.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/unpinned:
    put:
      summary: Unpin a dashboard
      x-badges:
        - name: beta
      operationId: unpin_dashboard
      description: Unpin dashboard from top of dashboard list.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      responses:
        "200":
          description: Dashboard unpinned.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/table:
    put:
      summary: Update dashboard table
      x-badges:
        - name: beta
      operationId: update_dashboard_table
      description: Update the table configuration of a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardTableUpdate"
      responses:
        "200":
          description: Dashboard table updated.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/grid:
    put:
      summary: Update dashboard grid query
      x-badges:
        - name: beta
      operationId: update_dashboard_grid
      description: Update the global grid query filter for a dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gridQuery:
                  type: string
      responses:
        "200":
          description: Dashboard grid query updated.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create grid item
      x-badges:
        - name: beta
      operationId: create_grid_item
      description: Create a new grid item in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridItemRequest"
      responses:
        "200":
          description: Grid item created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/grid/layout:
    put:
      summary: Update grid layout
      x-badges:
        - name: beta
      operationId: update_grid_layout
      description: Update the position and size of grid items within a section.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sectionId:
                  type: integer
                  format: int64
                  description: Section ID to update layout for.
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                        description: Grid item ID.
                      width:
                        type: integer
                      height:
                        type: integer
                      xAxis:
                        type: integer
                      yAxis:
                        type: integer
                    required:
                      - id
                      - width
                      - height
                      - xAxis
                      - yAxis
              required:
                - sectionId
                - items
      responses:
        "200":
          description: Grid layout updated.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/grid/{grid_item_id}:
    put:
      summary: Update grid item
      x-badges:
        - name: beta
      operationId: update_grid_item
      description: Update an existing grid item.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/GridItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridItemRequest"
      responses:
        "200":
          description: Grid item updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete grid item
      x-badges:
        - name: beta
      operationId: delete_grid_item
      description: Delete a grid item from the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/GridItemId"
      responses:
        "200":
          description: Grid item deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/sections:
    post:
      summary: Create grid section
      x-badges:
        - name: beta
      operationId: create_grid_section
      description: Create a new grid section in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridSectionRequest"
      responses:
        "200":
          description: Grid section created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridSectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/sections/{section_id}:
    put:
      summary: Update grid section
      x-badges:
        - name: beta
      operationId: update_grid_section
      description: Update an existing grid section.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/SectionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GridSection"
      responses:
        "200":
          description: Grid section updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridSectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete grid section
      x-badges:
        - name: beta
      operationId: delete_grid_section
      description: Delete a grid section and all its items.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/SectionId"
      responses:
        "200":
          description: Grid section deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridSectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/sections/{section_id}/up:
    put:
      summary: Move grid section up
      x-badges:
        - name: beta
      operationId: move_grid_section_up
      description: Move a grid section up in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/SectionId"
      responses:
        "200":
          description: Grid section moved up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridSectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/dashboards/{project_id}/{dashboard_id}/sections/{section_id}/down:
    put:
      summary: Move grid section down
      x-badges:
        - name: beta
      operationId: move_grid_section_down
      description: Move a grid section down in the dashboard.
      tags: [Dashboards]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/DashboardId"
        - $ref: "#/components/parameters/SectionId"
      responses:
        "200":
          description: Grid section moved down.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GridSectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/alerts/{project_id}:
    get:
      summary: List alerts
      x-badges:
        - name: beta
      operationId: list_alerts
      description: >-
        List alerts with optional filtering by status, priority, type, activity state,
        monitor ID, and free-text search. Returns alerts sorted by most recent event by default.
      tags: [Alerts]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: search
          in: query
          description: Free-text search across alert name and attributes. Supports scoped search (e.g., alert.status:resolved).
          schema:
            type: string
        - name: attrs[status][]
          in: query
          description: Filter by alert status. Can be repeated for multiple values.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AlertStatus"
        - name: attrs[priority][]
          in: query
          description: Filter by alert priority. Can be repeated for multiple values.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AlertPriority"
        - name: attrs[type][]
          in: query
          description: Filter by alert type. Can be repeated for multiple values.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AlertType"
        - name: attrs[activityState][]
          in: query
          description: Filter by activity state. Can be repeated for multiple values.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AlertActivityState"
        - name: attrs[monitorId][]
          in: query
          description: Filter by monitor ID. Can be repeated for multiple values.
          schema:
            type: array
            items:
              type: integer
              format: uint64
        - name: sort_by
          in: query
          description: Field to sort by. Defaults to event.created_at.
          schema:
            type: string
          example: created_at
        - name: sort_dir
          in: query
          description: Sort direction. Defaults to DESC.
          schema:
            $ref: "#/components/schemas/SortDirection"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List of alerts.
          content:
            application/json:
              schema:
                type: object
                required:
                  - alerts
                  - count
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Alert"
                  count:
                    type: integer
                    description: Total number of matching alerts.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/alerts/{project_id}/{alert_id}:
    get:
      summary: Get an alert
      x-badges:
        - name: beta
      operationId: get_alert
      description: Retrieve a specific alert by ID with full event history and assignees.
      tags: [Alerts]
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/AlertId"
      responses:
        "200":
          description: Alert details with event history.
          content:
            application/json:
              schema:
                type: object
                required:
                  - alert
                  - events
                  - assignees
                properties:
                  alert:
                    $ref: "#/components/schemas/Alert"
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlertEvent"
                  assignees:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs:
    get:
      summary: List organizations
      operationId: list_orgs
      description: List all organizations accessible to the authenticated user.
      tags: [Organizations]
      x-badges:
        - name: beta
      responses:
        "200":
          description: Organizations listed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orgs:
                    type: array
                    items:
                      $ref: "#/components/schemas/Org"
                required:
                  - orgs
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create organization
      operationId: create_org
      description: Create a new organization.
      tags: [Organizations]
      x-badges:
        - name: beta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgCreateRequest"
      responses:
        "200":
          description: Organization created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs/{org_id}:
    get:
      summary: Get organization
      operationId: get_org
      description: Get organization details.
      tags: [Organizations]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Organization details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update organization
      operationId: update_org
      description: Update organization settings.
      tags: [Organizations]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUpdateRequest"
      responses:
        "200":
          description: Organization updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      summary: Delete organization
      operationId: delete_org
      description: Delete an organization. Fails if the organization contains projects.
      tags: [Organizations]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Organization deleted. Returns the deleted organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs/{org_id}/budget:
    put:
      summary: Update organization budget
      operationId: update_org_budget
      description: Update the organization's budget. Values below the minimum budget are clamped to the minimum.
      tags: [Organizations]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUpdateBudgetRequest"
      responses:
        "200":
          description: Budget updated. Returns the updated organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs/{org_id}/projects:
    get:
      summary: List organization projects
      operationId: list_org_projects
      description: List all projects in an organization.
      tags: [Organizations]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Projects listed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                required:
                  - projects
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Create project
      operationId: create_project
      description: Create a new project within an organization.
      tags: [Projects]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreateRequest"
      responses:
        "200":
          description: Project created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs/{org_id}/users:
    get:
      summary: List organization users
      operationId: list_org_users
      description: List all users that belong to an organization.
      tags: [Users]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - name: email
          in: query
          required: false
          description: Case-insensitive substring match against user email.
          schema:
            type: string
      responses:
        "200":
          description: Users listed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      summary: Add organization user by ID
      operationId: create_org_user
      description: >-
        Create or update an OrgUser membership for an existing User. Idempotent:
        if the user is already a member, their role is updated to the supplied
        value. Used by automation that holds a userId directly. Requires org
        admin. Accepts users with email_confirmed=false (e.g. invited but not
        yet accepted).
      tags: [Users]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUserCreateRequest"
      responses:
        "200":
          description: Membership created or role updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserCreateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /internal/v1/orgs/{org_id}/users/{org_user_id}:
    get:
      summary: Get organization user
      operationId: get_org_user
      description: Get detailed information about an organization user, including their project and team memberships.
      tags: [Users]
      x-badges:
        - name: beta
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/OrgUserId"
      responses:
        "200":
          description: Organization user details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserShowResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      summary: Update organization user role
      operationId: update_org_user_role
      description: >-
        Update a user's organization-level role. Requires org admin.
        An admin cannot change their own role.
      tags: [Users]
      x-badges:
[...]
